@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark: #2d2140;
  --light: #fff;
  --main-color: rgb(255, 20, 157);
  --main-color-dark: rgb(182, 10, 136);
  --secondary-color: rgb(154, 205, 50);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--light);
  background-color: var(--dark);
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 90%;
  max-width: 992px;
  margin: auto;
}

.add-card-con {
  display: flex;
  justify-content: center;
  padding: 20px 0 30px;
}

button {
  border: none;
  user-select: none;
  cursor: pointer;
  color: var(--white);
  transition: all 0.3s ease;
}

.add-card-con button,
.modal button {
  font-size: 15px;
  background-color: var(--main-color);
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 10px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 2px solid var(--secondary-color);
  padding: 16px 20px 10px;
  width: 31%;
  border-radius: 10px;
  box-shadow: 4px 4px 3px var(--main-color);
  background-color: black;
}

.question-text {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--white);
  word-wrap: break-word;
}

.answer-text {
  font-weight: 400;
  word-wrap: break-word;
  margin: 10px 0 14px;
  line-height: 22px;
  font-size: 14px;
}

.show-hide-btn{
  background-color: var(--main-color);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.btns-con {
  text-align: right;
}

.edit,
.delete {
  background-color: transparent;
  margin: 10px 8px;
  font-size: 20px;
}

.delete {
  color: var(--main-color)
}

.modal {
  width: 90%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  position: absolute;
  transform: translate(-50%, -50%) ;
  top: 50%;
  left: 50%;
  padding: 35px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 250px var(--main-color);
  border: 2px solid var(--secondary-color);
}

.modal h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}

.visible {
  color: var(--main-color);
}

.hidden {
  color: transparent;
}

#close-btn {
  font-size: 14px;
  background-color: var(--main-color);
  padding: 10px 14px;
  border-radius: 50%;
}

label {
  color: var(--white);
  font-weight: 600;
  margin-bottom: 8px;
}

textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  resize: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

textarea:not(:last-child) {
  margin-bottom: 18px;
}

textarea:focus {
  border-color: var(--main-color);
}

.hide {
  display: none;
}

.add-card-con button:hover,
.modal button:hover,
#close-btn:hover,
.show-hide-btn:hover {
  background-color: var(--main-color-dark);
}

.card:hover {
  background-color: var(--dark);
}

@media screen and (max-width: 800px) {

  body {
    padding: 10px 0 30px;
  }

  .card {
    width: 48%;
  }
}

@media screen and (max-width: 572px) {
  body {
    font-size: 14px;
    overflow-y: scroll;
  }

  .card {
    width: 100%;
  }

}